.main {
  margin-top: 100 px;
}

.body {
  margin:0;
}

.proto {
  display: block;
  width: 300 px;
}

.blue {
  background: #397327;
  height: 100 px;
  display: flex;
  justify-content: center;
}
